<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <ul class="category-list">
            <li class="category-item">🌿 Environmental</li>
            <li class="category-item">📚 Educational</li>
            <li class="category-item">🤝 Community Service</li>
            <li class="category-item">💊 Health and Wellness</li>
        </ul>
    </main>

    <%- include('partials/footer') %>